.App {
  text-align: center;
}

:root{
  --accent-dark: #102542; /* (Oxford blue) */
  --accent-dark-light: #204983; /* (Polynesian blue) */
  --accent-light: #FFCB77; /* Sunset */
  --accent-urgent: #A02C3C; /* Amaranth purple */
  --accent-urgent-light: #CF4F60; /* Indian Red */ /* vier höher */
  /* --colour-one: #50AA92; */ /* Zomp */
  /* --colour-two: #309488; */ /* Dark Cyan */
  --colour-two: #3AB09E; /* Keppel */
  --colour-three: #107E7D; /* Teal */
  --colour-four: #105260; /* Midnight Green */
  --background: #F1F9F7; /* Mint Cream */
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* * * * * * * */
/* *  COLORS * */
/* * * * * * * */

.c-al{
  color: var(--accent-light);
}

/* * * * * * * */
/* Backgrounds */
/* * * * * * * */

.bg-ad{
  background-color: var(--accent-dark);
}


.heading-highlight{
  padding: 2px;
  padding-right: 5px;
}
/* * * * * * * */
/* *  BODY * * */
/* * * * * * * */
body {
  padding-top: 56px; 
  color: black;
  background-color: var(--background) !important;
}

/* * * * * * * */
/* *  NAVBAR * */
/* * * * * * * */
.nav-link{
  color: var(--accent-dark) !important; 
}
.nav-link:hover {
  color: var(--background) !important;
  background-color: var(--accent-dark) !important;
  border-radius: 7px;
}
.navbar{
  backdrop-filter: blur(5px);
  transition: visibility 0s, 0.6s, opacity 0.6s linear, transform 1s;
  height: 50px;
}
  nav.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dropdown-item{
  color: var(--accent-dark) !important;
}
.dropdown-item:hover{
  color: var(--background) !important;
  background-color: var(--accent-dark) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  background-color: var(--background);
  border-color: var(--accent-dark);
  border-radius: 7px;
}
.navbar-brand{
  color: var(--accent-dark) !important;
}
.dropdown-menu{
  margin-top: 0 !important;
}

/* * * * * * * */
/* *  BOXES  * */
/* * * * * * * */

.welcome-box{
  border-style: solid;
  border-width: 5px;
  border-color: var(--colour-four);
  text-align: center;
  padding: 2vw;
  border-radius: 7px;
  max-width: 70%;
  margin-bottom: 4vw;
  margin-top: 4vw;
}

.guide-box{
  text-align: left;
  padding: 1vw;
  border-radius: 7px;
  max-width: 80%;
  margin-bottom: 1vw;
  margin-top: 1vw;
}


/* * * * * * * */
/* MEDIA RULES */
/* * * * * * * */
/*For tablet or bigger*/
@media screen and (min-width: 992px) {
  /* navbar opens on hover*/ 
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}


/* * * * * * * */
/* * CONTENT * */
/* * * * * * * */
.center-content{
  align-items: center;
  display: flex;
}

/* * * * * * * */
/* * Borders * */
/* * * * * * * */

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

/* * * * * * * */
/*Social Media */
/* * * * * * * */

.fa {
  padding: 1vw;
  font-size: 30px;
  max-width: 5vw !important;
  max-height: 5vw !important;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: var(--accent-dark-light);
  color: white;
}
.fa-reddit {
  background: var(--accent-urgent-light);
  color: white;
} 
.fa-flickr {
  background: #f40083;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-envelope{
  background: var(--accent-light);
  color: white;
}
.fa-github{
  background-color: var(--accent-dark);
  color: white;
}


.show {
  display: block !important;
}
.noshow{
  display: none;
}
.filterable {
  margin-bottom: 4px;
  display: none;
}
