.App {
  text-align: center;
}

:root{
  --accent-dark: #102542; /* (Oxford blue) */
  --accent-dark-light: #204983; /* (Polynesian blue) */
  --accent-light: #FFCB77; /* Sunset */
  --accent-urgent: #A02C3C; /* Amaranth purple */
  --accent-urgent-light: #CF4F60; /* Indian Red */ /* vier höher */
  /* --colour-one: #50AA92; */ /* Zomp */
  /* --colour-two: #309488; */ /* Dark Cyan */
  --colour-two: #3AB09E; /* Keppel */
  --colour-three: #107E7D; /* Teal */
  --colour-four: #105260; /* Midnight Green */
  --background-darker:  #dfeedf; /* #cbe0cb; */ /* #f2f8f2; */
  --background: #fcfffc ; /* #F1F9F7 Mint Cream */
}

.center-normal{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center  ;
}
/* * * * * * * */
/* *  COLORS * */
/* * * * * * * */

.c-al{
  color: var(--accent-light);
}

/* * * * * * * */
/* Backgrounds */
/* * * * * * * */

.bg-ad{
  background-color: var(--accent-dark);
}

.bg-c3{
  background-color: var(--colour-three);
}

.bg-gray{
  background-color: #e4e8e4 ;
}

.bg-darker{
  background-color: var(--background-darker);
}


.heading-highlight{
  padding: 5px;
  border-radius: 5px;
}
/* * * * * * * */
/* *  BODY * * */
/* * * * * * * */
body {
  padding-top: 56px; 
  color: black;
  background-color: var(--background) !important;
}
a{
  color: var(--colour-three) !important;
}

/* * * * * * * */
/* *  NAVBAR * */
/* * * * * * * */
.nav-link{
  color: var(--accent-dark) !important; 
}
.nav-link:hover {
  color: var(--background) !important;
  background-color: var(--accent-dark) !important;
  border-radius: 7px;
}
.navbar{
  backdrop-filter: blur(5px);
  transition: visibility 0s, 0.6s, opacity 0.6s linear, transform 1s;
  height: 50px;
}
  nav.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dropdown-item{
  color: var(--accent-dark) !important;
}
.dropdown-item:hover{
  color: var(--background) !important;
  background-color: var(--accent-dark) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  background-color: var(--background);
  border-color: var(--accent-dark);
  border-radius: 7px;
}
.navbar-brand{
  color: var(--accent-dark) !important;
}
.dropdown-menu{
  margin-top: 0 !important;
}

/* * * * * * * */
/* *  BOXES  * */
/* * * * * * * */

.text-box{
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: var(--background-darker);
}

.welcome-box{
  border-style: solid;
  border-width: 5px;
  border-color: var(--colour-four);
  text-align: center;
  padding: 2vw;
  border-radius: 7px;
  max-width: 70%;
  margin-bottom: 4vw;
  margin-top: 4vw;
}

.guide-box{
  text-align: left;
  padding: 1vw;
  border-radius: 7px;
  max-width: 80%;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.under-construction-box{
  margin-top: 100px;
  text-align: center;
  border: 5px solid var(--accent-urgent); 
  border-radius: 10px;
  padding: 30px;

}


/* * * * * * * */
/* MEDIA RULES */
/* * * * * * * */
/*For tablet or bigger*/
@media screen and (min-width: 992px) {
  /* navbar opens on hover*/ 
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}


/* * * * * * * */
/* * CONTENT * */
/* * * * * * * */
.center-content{
  align-items: center;
  display: flex;
}

/* * * * * * * */
/* * Borders * */
/* * * * * * * */

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

/* * * * * * * */
/*Social Media */
/* * * * * * * */

.fa {
  padding: 1vw;
  font-size: 30px;
  max-width: 5vw !important;
  max-height: 5vw !important;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: var(--accent-dark-light);
  color: white;
}
.fa-reddit {
  background: var(--accent-urgent-light);
  color: white;
} 
.fa-flickr {
  background: #f40083;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-envelope{
  background: var(--accent-light);
  color: white;
}
.fa-github{
  background-color: var(--accent-dark);
  color: white;
}


.show {
  display: block !important;
}
.noshow{
  display: none;
}
.filterable {
  margin-bottom: 4px;
  display: none;
}



.fit{
  width: fit-content; 
}


.maxfull{
  max-width: 100%;
}
.max70{
  max-width: 70%;
  max-height: 70%;
}
.max60{
  max-width: 60%;
  max-height: 60%;
}
.max50{
  max-width: 50%;
  max-height: 50%;
}
.max40{
  max-width: 40%;
  max-height: 40%;
}



.header-container{
  padding-top: 60px;
  height: 750px;
  padding-bottom: 60px;
  background-color: var(--background);
}

.header-title{
  color: var(--colour-four);
  text-align: left;
  align-self: flex-start;
  padding: 0 30px;
  font-size: 130px;
  font-weight: 900;
  line-height: 130px;
}

.base{
  background-color: var(--colour-three);
}

.border-left{
  border-left: 5px solid var(--colour-four);  
  padding-left: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
}

.caption{
  padding-top: 5px;
}

h2, h3{
  padding-bottom: 20px;
}


.blockquote-wrapper {
  display: flex;
  height: fit-content;
}

/* Blockquote main style */
.blockquote {
   position: relative;
   font-style: sans-serif;
   max-width: 80%;
   margin: 40px auto !important;
   align-self: center;
}

/* Blockquote header */
.blockquote h2 {
   font-style: italic;
   position: relative; /* for pseudos */
   color: black;
   font-size: 2.8rem;
   font-weight: normal;
   line-height: 1;
   font-size: larger;
   margin: 0;
   border: solid 5px var(--colour-four) !important;
   border-radius:20px;
   padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h2:after {
   content:"";
   position: absolute;
   border: 5px solid var(--colour-four);
   border-radius: 0 50px 0 0;
   width: 60px;
   height: 60px;
   bottom: -60px;
   left: 50px;
   border-bottom: none;
   border-left: none;
   z-index: 3; 
}

.blockquote h2:before {
   content:"";
   position: absolute;
   width: 80px;
   border: 5px solid var(--background);
   bottom: -5px;
   left: 50px;
   z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
   .blockquote h1 {
       font-size: 3rem;
       line-height: 1.2;
  }

}

/* Blockquote subheader */
.blockquote h4 {
   position: relative;
   color: black;
   font-size: 1.3rem;
   font-weight: 400;
   line-height: 1.2;
   font-size: medium;
   margin: 0;
   padding-top: 15px;
   z-index: 1;
   margin-left:150px;
   padding-left:12px;
}


.blockquote h4:first-letter {
 margin-left:-12px;
}

/* #ct{height:150px; width:370px;border:4px solid var(--accent-dark);margin: 100px auto;text-align:center;position:relative;color:#fff;padding:15px;}
span{
  background:var(--background);
  color:var(--accent-dark);
  padding:0 10px;
  font-size:20px;
  position:relative; 
  top:-28px;
} */
.corner{
  height:36px;
  width:36px;
  border-radius:50%;
  border:4px solid #fff;
  transform:rotate(-45deg);  
  position:absolute;
  background:var(--background);
}

#left_top{
  top:-16px;
  left:-16px;
  border-width: 4px;
  border-color:transparent transparent var(--accent-dark) transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-width: 4px;
  border-color:transparent transparent transparent var(--accent-dark);
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-width: 4px;
  border-color:transparent var(--accent-dark) transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-width: 4px;
  border-color:var(--accent-dark) transparent transparent transparent;
}




/* Blockquote main style */
.blockquotex {
   position: relative;
   font-style: sans-serif;
   font-weight: 800;
   color: black;
   padding: 30px 0;
   width: 100%;
   max-width: 80%;
   z-index: 1;
   margin: 80px auto;
   align-self: center;
   border-top: solid 1px var(--accent-dark);
   border-bottom: solid 1px var(--accent-dark);
}

/* Blockquote header */
.blockquotex h1 {
   position: relative;
   color: black;
   font-size: 20px !important;
   font-weight: 800;
   line-height: 1;
   margin: 0;
}

/* Blockquote right double quotes */
.blockquotex:after {
   position: absolute;
   content: "”";
   color: var(--accent-light);
   font-size: 5rem;
   line-height: 0;
   bottom: -25px;
   right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
   .blockquotex h1 {
       font-size: 60px;
  }

}

/* Blockquote subheader */
.blockquotex h4 {
   position: relative;
   color: #292a2b;
   font-size: 1rem;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   padding-top: 20px;
   z-index: 1;
}

.figure-img{
  padding: 30px 10px;
  border-radius: 10px;
  margin: 10px 0 !important;
}